VITE_GEOCODE_API_URL="https://geocoding-api.open-meteo.com/v1/search"
VITE_REVERSE_GEOCODE_MAPS_API_URL="https://geocode.maps.co/reverse"
VITE_REVERSE_GEOCODE_MAPS_API_KEY="YOURE API KEY FROM geocode.maps.co"
VITE_WEATHER_API_URL="https://api.open-meteo.com/v1/forecast"